
<h1>THIS ARE YOUR PREFERENCES</h1>
<img src="user.image">
  <form action="/preferences" method="POST">
  <input type="text" placeholder="name" name="name">
  <input type="text" placeholder="lastname" name="lastname">
  <input type="text" placeholder="ext/mex" name="travelType">
  <input type="number" placeholder="$$$" name="budget">
  <input type="text" placeholder="destino" name="destino">
  <input type="text" placeholder="actividad" name="activity">
  </form>

